body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.header{
    background-color:aqua;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo{
    color: white;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.Home{
    padding: 30px 60px;
    text-align: center;
    background: chocolate;
}

.About{
    padding: 30px 60px;
    text-align: center;
    background: wheat;
}

.Projects{
    padding: 30px 60px;
    text-align: center;
    background: springgreen;
}

.Project-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.Project-card {
    background: powderblue;
    padding: 20px;
    border: 1px solid #ddd;
    flex: 1;
}

.Contact{
    padding: 40px 30px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background: #00bcd4;
    border: none;
    color: white;
    cursor: pointer;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
